# Core
Django
celery
redis
minio
mongoengine


# File handling
pydub
Pillow
PyPDF2
python-docx
python-pptx
openpyxl
xlrd
odfpy
pandas
pyyaml
py7zr
ebooklib
beautifulsoup4
lxml
python-magic
rarfile
pillow-heif 
cairosvg
# AI / Whisper
faster-whisper
torch

# Utilities
indic-transliteration
ffmpeg-python
