# Core
Django
celery
redis
minio
mongoengine
djongo

# File handling
pydub
Pillow
PyPDF2
python-docx
python-pptx
openpyxl
xlrd
odfpy
pandas
pyyaml
py7zr
ebooklib
beautifulsoup4
lxml
python-magic

# AI / Whisper
openai-whisper
torch

# Utilities
indic-transliteration
ffmpeg-python
